.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa phần tử theo chiều ngang */
  justify-content: center;
  min-height: 100vh; /* Đảm bảo phần nội dung chiếm toàn bộ chiều cao màn hình */
}
